/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #850504;
    --font-color: #141622;
}

@font-face {
    font-family: "Poppins";
    src: url(./font/Poppins-Black.ttf);
    src: url(./font/Poppins-Bold.ttf);
    src: url(./font/Poppins-ExtraBold.ttf);
    src: url(./font/Poppins-ExtraLight.ttf);
    src: url(./font/Poppins-Light.ttf);
    src: url(./font/Poppins-Medium.ttf);
    src: url(./font/Poppins-Regular.ttf);
    src: url(./font/Poppins-SemiBold.ttf);
    src: url(./font/Poppins-Thin.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(./font/inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Mona";
    src: url(./font/mona_sans/Mona-Sans.ttf);
    src: url(./font/mona_sans/MonaSans-Regular.ttf);
}

/* Body styles */
body {
    font-family: "Inter", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header and Navigation */
header {
    /* background-color: #ceb3b3; */
    padding: 9px 18px;
    text-align: center;
    position: fixed;
    width: 90%;
    margin: 1rem 4.5rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2rem);
    align-items: center;
    z-index: 111;
    border: none;
    outline: none;
    border-radius: 6rem;
}

header img {
    width: 160px;
    height: 48px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

header nav ul li {
    font-size: 10px;
    display: inline;
    margin-right: 30px;
    position: relative;
}

header nav ul li a {
    font-family: "Inter";
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom-width: 3px;
    /* padding-bottom: 2px; */
    cursor: pointer;
    text-shadow: 0 0 4px #333;
    display: block;
}

header nav ul li a:hover {
    color: #850504;
    padding-bottom: 3px;
}

header .dropdown {
    display: none;
    position: absolute;
    padding-top: 60px;
    top: 100%;
    left: 0px;
    background: #34495e;
    list-style: none;
    display: none;
    /* padding: 0; */
    border-radius: 4px;
    z-index: 1000;
    width: 220px;
    
}

header nav ul li:hover .dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

header .dropdown li {
    width: 100%;
    list-style: none;
    /* border: 1px solid red; */
}

header .dropdown li a {
    text-align: left;
    font-size: 1rem;
    font-weight: 200;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #f4f4f4;
}
  
header .dropdown a:hover {
    font-size: 1.2rem;
    font-weight: 400;
}

header .contact_us {
    padding: 9px 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--main-color);
    color: #f4f4f4;
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Second level dropdown (dropdown-two) */
header .dropdown-two {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #2f3b45;
    width: 200px;
    list-style: none;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

header .dropdown li:hover .dropdown-two {
    display: block;
}

header .dropdown-two li a {
    font-size: 0.9rem;
    font-weight: 200;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid #f4f4f4;
}

header .dropdown-two a:hover {
    font-size: 1rem;
    font-weight: 400;
}

/* Hero Section */
.new_hero {
    background-image:  url('./images/Ibadan_skyline_roof_top.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* text-shadow: 0 0 2px black; */
    padding: 0px 20px;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.new_hero h1 {
    font-family: "Inter";
    line-height: 1.2;
    font-weight: 500;
    color: #f4f4f4;
    margin-top: 10rem;
    font-size: 2.6rem;
    text-align: center;
    font-weight: bolder;
    background: rgba(200, 87, 87, 0.7);
    padding: 1.6rem;
    border-radius: 25px;
    text-shadow: 0 0 4px #000;
}

.new_hero p {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    text-shadow: 0 0 2px #fff;
    backdrop-filter: blur(0.5rem);
    padding: 0.4rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

.new_hero .btn_cta {
    background-color: var(--main-color);
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
    font-family: "Mona", sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    outline: none;
}

.new_hero .btn_cta:hover {
    background-color: var(--font-color);
}

.div_img_vid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 45rem;
    width: 100%;
    /* border: 10px solid green; */
}

.img_vid_container {
    height: 100%;
    width: 100%;
    border: 2px solid #f4f4f4;
    border-radius: 20px;
    background: #d0b3b3;
    box-shadow: 5px 5px 15px 5px #d0b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.div_iframe_container {
     width: 95%;
     height: 92%;
     border-radius: 20px;
     overflow: hidden;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
}

iframe {
    width: 100%;
    height: 100%; 
}





/* 
.hero { 
    background-image:  url('./images/Ibadan_skyline_roof_top.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #e5e5e5;
    text-shadow: 0 0 2px black;
    padding: 0px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 20px 10px 20px;
}

.hero h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 4px #850504;
}

.hero p {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 0 0 2px #fff;
    backdrop-filter: blur(1rem);
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

.hero .trade_name {
    background: var(--main-color);
    padding: 1px 10px;
    border-radius: 9px;
    display: inline-block;
}


.hero .cta-btn {
    background-color: var(--main-color);
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1.0rem;
    border-radius: 10px;
    font-weight: bold;
}

.hero .cta-btn button {
    background: transparent;
    outline: none;
    border: none;
}

.hero .cta-btn:hover {
    background-color: var(--font-color);
}

Image_Video

.sect_img_vid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/com_buiding.jpg);
    height: 40rem;
    padding-bottom: 10rem;
    background: #850504;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img_vid {
    height: 100vh;
    width: 75%;
    border: 2px solid #f4f4f4;
    border-radius: 20px;
    background: #d0b3b3;
    margin-top: -3rem;
    box-shadow: 5px 5px 15px 5px #d0b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.img_vid .iframe_container {
    border: 1px solid red;
    width: 95%;
    height: 92%;
    border: 2px solid #f4f4f4;
    border-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

iframe {
    width: 100%;
    height: 100%;
    
}
*/

/* Export Opportunities Section */


.export-opportunities, .success-stories, .export-info, .registration-form {
    padding: 40px 20px;
    /* margin: 20px 0; */
    /* background-color: #fff; */
    border-radius: 8px;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
